/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




* {
    box-sizing: border-box;
}

/* ======================================================
====================================================== */

.container {
    max-width: 1024px;
    margin: auto;
}


legend {
    font-size: 1.5em;
    padding: 40px 0;
    text-align: left;
    color: #00004c;
    font-weight: bold;
}

:root {
    font-family: 'Thasadith', sans-serif;
    background-size: contain;
    background: rgba(255, 165, 0, .9);
}

h1 {
    background-color: #fff;
    width: 100%;
    font-size: 2em;
    text-align: center;
    color: olive;
    line-height: 100px;
    font-weight: bold;
}

header h2 {
    color: #00004c;
    font-size: 1.5em;
    text-align: center;
    margin: 40px 0 40px;
    font-weight: bold;
}

header p {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    margin: auto 10px 40px;
}

p {
    color: #fff;
    font-size: 1.2em;
    margin: auto 0 20px;
}


form {
    border-top: 15px double #00004c;
    width: 80%;
}

h3 {
    color: #00004c;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px auto;
}

label {
    display: block;
    margin: 10px auto;
}


input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    height: 50px;
    padding: 10px;
}

#zipcode {
    width: 50%;
}

.second {
    border-top: 2px solid #00004c;
    margin-top: 40px;
}

::placeholder,
.select {
    text-align: right;
    padding-right: 15px;
    font-style: italic;
    color: rgba(255, 255, 255, .5);
}

.second label {
    display: inline-block;
    margin-left: 20px;
}

.second label:hover {
    display: inline-block;
    margin-left: 20px;
    color: #00004c;
    letter-spacing: 10px;
}

input:focus,
textarea:focus {
    border: 2px solid olive;
    background-color: rgb(255, 255, 255);

}

button {
    color: #fff;
    margin: 30px auto 20px;
    width: 100%;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background-color: olive;
    cursor: pointer;
    transition: padding 2s;
}

button:hover {
    color: #fff;
    margin: 30px auto 20px;
    width: 100%;
    font-size: 2em;
    padding: 30px;
    border-radius: 5px;
    border: 0;
    background-color: olive;
    cursor: pointer;
}

footer {
    text-align: center;
    color: #fff;
    font-style: italic;
    margin-bottom: 150px;
}

.second textarea {
    height: 130px;
}

option {
    color: #FF9900;
    background-color: #808000;
    font-size: 1em;
    width: 100%;
}

#news {
    color: #fff;
    font-size: 1.2em;
    margin: 10px 5px;
    margin-bottom: 20px;
    letter-spacing: normal
}


/* ====================================================== 
/* ====================================================== */
@media (min-width: 768px) {
    :root {
        background-color: olive;
        margin: auto;
    }

    input:focus,
    textarea:focus {
        border: 2px solid #f90;
        background-color: #fff;
    }

    h1 {
        color: #FF9900;
        font-size: 5em;
    }

    .first label {
        color: #00004c;
        font-size: 1.5em;
        width: 30%;
        float: left;
        margin-top: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
        width: 70%;
        margin-bottom: 10px;
        float: right;
    }

    #zipcode {
        width: 30%;
        margin-bottom: 10px;
        float: left;
    }

    #topspace,
    #topspace1,
    #topspace2 {
        display: inline-block;
        padding-top: 12px;
    }

    footer {
        color: #fff;
        font-size: 3em;
    }

    button:hover {
        background-color: #FF9900;
        width: 50%;
        display: block;
        margin: 10% auto;
        transition: width 2s;

    }

    button {
        background-color: #FF9900;
        width: 100%;
        display: block;
        margin: 10% auto;
        padding: 30px;
    }


    #news {
        color: #00004c;
        font-size: 1.5em;
        margin: 10px 5px;
        margin-bottom: 20px;
    }

    .second label,
    .second p,
    .second h3 {
        color: #fff;
        font-size: 1.5em;
    }

    .second p,
    .second h3 {
        margin-top: 20px;
        color: #00004c
    }

}